body{
    background-color: rgb(71, 71, 116);
}
.first{
    color: green;
}
.second{
    color: aqua;
}
.third{
    color: blueviolet;
}
.fourth{
    color: brown;
}
.fifth{
    color: aquamarine;
}
.sixth{
    color: yellow;
}